@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Career Cloud</h1>
    <p class="lead">Canada's Nth-Best Job Portal, Where N > 200</p>
    <br />
    <p><a href="https://github.com/addy689/CareerCloud/tree/aspnet_careercloud" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>