@model CareerCloud.UI.MVC.Models.CompanyJobDetailsVM

@{
    ViewBag.Title = "ShowJobDetails";
}

@Html.Partial("~/Views/Shared/_CompanyJobDetails.cshtml")

<br/>
<p>
    <b>@Html.ActionLink("Back to List", "Index", new { companyId = Model.Company })</b>
</p>
