@using CareerCloud.UI.MVC.Models.CreateJob
@model IEnumerable<JobEducationVM>

<div id="jobEducation" class="form-group">
    <h4>Required Education</h4>

    <div class="col-md-4">
        <table class="table dynamic-data-table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Major)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SelectedImportance)</th>
                <th></th>
            </tr>

        </table>
        <p>
            <a class="no-link" id="addEntryToTable" href="#">+ Add Education</a>
        </p>
    </div>
</div>
