@using CareerCloud.UI.MVC.Models
@model IEnumerable<CompanyJobSkillVM>


<div id="jobSkills" class="form-group">
    <h4>Required Skills</h4>

    <div class="col-md-6">
        <table class="table dynamic-data-table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SkillName)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SelectedSkillLevel)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SelectedImportance)</th>
                <th></th>
            </tr>

        </table>
        <p>
            <b><a class="no-link" id="addEntryToTable" href="#" onClick="return false;">+ Add Skill</a></b>
        </p>
    </div>
</div>